.hero-img {
    background-image: url(https://images.unsplash.com/photo-1603299515818-82b7e687a789?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
    background-size: cover;
    background-position: center;
    padding-top: 20em;
    padding-bottom: 20em;
}